.header {
  border-bottom: 1px solid white;
  margin: 0;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header__logo-block {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav__item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.white-fox {
  display: block;
}
/* .authorize-white {
  border: 1px solid #ffffff;
  color: #ffffff;
} */

.other-icon__authorize {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  gap: 5px;
  border: 1px solid #3a86ff;
  box-sizing: border-box;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  color: #3a86ff;
}

.authorize__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: none;
}

#menu-checkbox {
  /* чекбокс скрыт */
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.toggle-button {
  text-align: center;
  display: block;
  /* не забываем явно указать каким должен быть курсор */
  cursor: pointer;
  background-color: #333;
  color: #fff;
}
.toggle-button:after {
  /* получаем данные из атрибута data-open в html */
  content: attr(data-open);
  display: block;
  margin: 10px 0;
  padding: 10px 30px;
}
#menu-checkbox:checked + nav[role="navigation"] .main-menu {
  /* когда чекбокс активен меню становится видимым */
  position: static;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
  content: attr(data-close);
}
@media screen and (min-width: 640px) {
  .toggle-button {
    /* label скрыт */
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }
}